In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
import tensorflow as tf
import keras
from keras.models import Sequential
from keras.layers import Dense
from sklearn.metrics import accuracy_score, classification_report
import warnings
warnings.filterwarnings('ignore')

##TASK - 1

In [2]:
from google.colab import files
uploaded=files.upload()

Saving DS3_C2_S5_Classification_Practice_Glass_Data.csv to DS3_C2_S5_Classification_Practice_Glass_Data (2).csv

In [3]:
import io

data=pd.read_csv(io.BytesIO(uploaded["DS3_C2_S5_Classification_Practice_Glass_Data.csv"]))

In [4]:
data

     id_number       RI     Na    Mg    Al     Si     K    Ca    Ba   Fe  Type
0            1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0     1
1            2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0     1
2            3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0     1
3            4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0     1
4            5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0     1
..         ...      ...    ...   ...   ...    ...   ...   ...   ...  ...   ...
209        210  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0     7
210        211  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0     7
211        212  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0     7
212        213  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0     7
213        214  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0     7

[214 rows x 11 columns]

In [5]:
print(data.shape)
print(data.dtypes)

(214, 11)
id_number      int64
RI           float64
Na           float64
Mg           float64
Al           float64
Si           float64
K            float64
Ca           float64
Ba           float64
Fe           float64
Type           int64
dtype: object

In [6]:
df=data.copy()

In [7]:
data.drop(columns='id_number',inplace=True)
print(data.columns)

Index(['RI', 'Na', 'Mg', 'Al', 'Si', 'K', 'Ca', 'Ba', 'Fe', 'Type'], dtype='object')

In [8]:
x=data.drop(columns='Type')

**Label encoding**

In [9]:
y = "Type"
le = preprocessing.LabelEncoder()
data['target'] = le.fit_transform(data[y])

In [10]:
data[[y,'target']]

     Type  target
0       1       0
1       1       0
2       1       0
3       1       0
4       1       0
..    ...     ...
209     7       5
210     7       5
211     7       5
212     7       5
213     7       5

[214 rows x 2 columns]

In [11]:
data.drop(columns=y, inplace=True)

In [12]:
data = data.rename(columns={'target':y})

In [13]:
print(data.columns)

Index(['RI', 'Na', 'Mg', 'Al', 'Si', 'K', 'Ca', 'Ba', 'Fe', 'Type'], dtype='object')

 **Data Normalization**

In [14]:
data_scaled = data.copy()
minmax = preprocessing.MinMaxScaler()
data_scaled.iloc[:,:] = minmax.fit_transform(data.iloc[:,:])

In [15]:
data_scaled[y] = data[y]

**Splitting the Data**

In [16]:
def splitdata(data,y,ratio=0.3):
  x_train,x_test,y_train,y_test = train_test_split(data.drop(y,1),data[y],test_size = ratio )
  return(x_train,y_train,x_test,y_test )

In [17]:
x_train,y_train,x_test,y_test = splitdata(data,y,0.2)
print(x_train.shape, y_train.shape, x_test.shape, y_test.shape)

(171, 9) (171,) (43, 9) (43,)

**One hot encoding**

In [18]:

from sklearn.preprocessing import OneHotEncoder

#creating instance of one-hot-encoder
encoder = OneHotEncoder(handle_unknown='ignore')

#perform one-hot encoding on 'team' column 
encoder_df = pd.DataFrame(encoder.fit_transform(data[['Type']]).toarray())

#merge one-hot encoded columns back with original DataFrame
final_df = data.join(encoder_df)

#view final df
print(final_df)

          RI     Na    Mg    Al     Si     K    Ca    Ba   Fe  Type    0    1  \
0    1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0     0  1.0  0.0
1    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0     0  1.0  0.0
2    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0     0  1.0  0.0
3    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0     0  1.0  0.0
4    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0     0  1.0  0.0
..       ...    ...   ...   ...    ...   ...   ...   ...  ...   ...  ...  ...
209  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0     5  0.0  0.0
210  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0     5  0.0  0.0
211  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0     5  0.0  0.0
212  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0     5  0.0  0.0
213  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0     5  0.0  0.0

       2    3    4    5
0    0.0  0.0  0.0  0.0
1    0.0  0.0  0.0  0.0
2    0.0  0.0  0.0  0.0
3    0.0  0.0  0.0  0.0
4    0.0  0.0  0.0  0.0
..   ...  ...  ...  ...
209  0.0  0.0  0.0  1.0
210  0.0  0.0  0.0  1.0
211  0.0  0.0  0.0  1.0
212  0.0  0.0  0.0  1.0
213  0.0  0.0  0.0  1.0

[214 rows x 16 columns]

## TASK - 2

**Defining function for building the model**

In [19]:
def compileModel(units, shape):
  model = keras.Sequential([Dense(units-5,activation='relu',input_shape=[shape]),Dense(units-5, activation='relu'),Dense(1,activation='sigmoid') ])
#set the learning rate
  lr=0.01
  optimizer = tf.keras.optimizers.RMSprop(lr)
#compile the model
  model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])
  return(model)

In [20]:
class PrintDot(keras.callbacks.Callback):
  def on_epoch_end(self,epoch,lags):
    if epoch%10 == 0:
      print(".", end = " ")

In [21]:
def fitModel(model,trainx,trainy,ep,val_split=0.2):
  errors = model.fit(trainx,trainy,epochs=ep, validation_split = val_split,verbose=0, callbacks =[PrintDot()])
#error history
  errhistory = pd.DataFrame(errors.history)
  errhistory['epoch'] = errors.epoch
  return(errhistory)

In [22]:
def printErrors(val_acc,val_loss):
  print("\nValidation Accuracy and Loss in last epoch = {} and {}".format(val_acc,val_loss))
  return ''

In [23]:
def confusionMatrix(df,cutoff):
  #Update the 'predicted' column of the dataframe as
  #if pred_probs < cutoff, class = 0
  #if pred_probs > cutoff, class = 1
  df1 = df.copy()
  df1.predicted[df1.pred_probs < cutoff] = 0
  df1.predicted[df1.pred_probs > cutoff] = 1
  print("Cutoff = ", cutoff)
  print("\n")
  #accuracy score
  print("Accuracy Score = {}".format(accuracy_score(df1.actual,df1.predicted)))
  print("\n")
  #Confusion Matrix
  print(pd.crosstab(df1.actual,df1.predicted,margins=True))
  print("\n")
  #Classification Report
  print(classification_report(df1.actual, df1.predicted))

**Building model**

In [24]:
units = 10
shape = len(x_train.columns)
m1 = compileModel(units,shape)

**Fit the model**

In [25]:
epoch = 200
e1 = fitModel(m1,x_train,y_train,epoch)
print(printErrors(list(e1['val_accuracy'])[-1], list(e1['val_loss'])[-1]))

. . . . . . . . . . . . . . . . . . . .
Validation Accuracy and Loss in last epoch = 0.3142857253551483 and -930.2738647460938

**TASK - 3**

**Predict the data**

In [29]:
y_pred = m1.predict(x_test)
df=pd.DataFrame({'actual':y_test, 'pred_probs': np.concatenate(y_pred), 'predicted':0})

**Evaluate model performance,Accuracy score, recall, precision, f1-score**

In [28]:
cutoff = 0.25
print(confusionMatrix(df,cutoff))

Cutoff =  0.25


Accuracy Score = 0.3953488372093023


predicted   1  All
actual
0          12   12
1          17   17
2           6    6
3           3    3
4           1    1
5           4    4
All        43   43


              precision    recall  f1-score   support

           0       0.00      0.00      0.00        12
           1       0.40      1.00      0.57        17
           2       0.00      0.00      0.00         6
           3       0.00      0.00      0.00         3
           4       0.00      0.00      0.00         1
           5       0.00      0.00      0.00         4

    accuracy                           0.40        43
   macro avg       0.07      0.17      0.09        43
weighted avg       0.16      0.40      0.22        43

None