In [66]:
import pandas as pd
import numpy as np

In [65]:
pwd

'C:\\Users\\Manish'

In [36]:
df=pd.read_csv('C:\\Users\\Manish\\car_prices.csv')
df

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,21500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,21500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,30000,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,27750,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,67000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,knalw4d4xf6019304,in,4.5,18255.0,silver,black,avis corporation,35300,33000,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200,30800,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,4.8,50561.0,black,black,financial services remarketing (lease),29800,34000,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,3.8,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100,11100,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,3.4,15008.0,gray,gray,"ford motor credit company,llc pd",29600,26700,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [37]:
# TASK- 1
a=df[(df.year==2014)]
a.sort_values('sellingprice').head()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
293223,2014,Ford,E-Series Van,E-250,E-Series Van,automatic,1ftne2ew6eda13643,tx,4.1,31886.0,white,gray,u-haul,20800,1,Thu Feb 12 2015 03:00:00 GMT-0800 (PST)
185680,2014,Chrysler,200,LX,Sedan,automatic,1c3ccbab7en125253,ca,1.0,16973.0,white,black,enterprise vehicle exchange / tra / rental / t...,11800,500,Thu Jan 22 2015 04:30:00 GMT-0800 (PST)
405960,2014,Ford,Escape,Titanium,SUV,automatic,1fmcu9j94eua96505,nj,4.4,20074.0,red,black,"ford motor credit company,llc",24600,750,Wed Apr 08 2015 02:00:00 GMT-0700 (PDT)
174198,2014,Nissan,Versa,1.6 SV,Sedan,automatic,3n1cn7ap1el855595,il,1.9,15091.0,gray,black,nissan motor acceptance corporation,9700,1000,Thu Jan 22 2015 02:00:00 GMT-0800 (PST)
174145,2014,Hyundai,Elantra GT,Base,Hatchback,automatic,kmhd35lh9eu165404,in,2.0,1.0,red,black,enterprise vehicle exchange / tra / rental / t...,15300,1000,Wed Jan 21 2015 04:59:00 GMT-0800 (PST)

In [38]:
# TASK- 2
avg=df[(df.make=='BMW')&(df.year==2010)&(df.condition>4.5)]
av1=avg['sellingprice'].mean()
print("Average selling price of year 2010: ",av1)

avg2=df[(df.make=='BMW')&(df.year==2015)&(df.condition>4.5)]
av2=avg2['sellingprice'].mean()
print("Average selling price of year 2015: ",av2)

prediff = (av2-av1)/av2*100

print("Selling price of BMW cars having a score more than 4.5 in Y2010 is less than by Y2015 is by %f%% "%prediff)

Average selling price of year 2010:  23572.222222222223
Average selling price of year 2015:  42994.68599033816
Selling price of BMW cars having a score more than 4.5 in Y2010 is less than by Y2015 is by 45.174103%

In [39]:
# TASK- 3

avg=df[(df.interior=='black')]
print("Average mmr for Black Interior: ",avg['mmr'].mean())
avg2=df[(df.interior=='gray')]
print("Average mmr for Gray Interior: ",avg2['mmr'].mean())

Average mmr for Black Interior:  15858.52005549485
Average mmr for Gray Interior:  11189.776545228522

In [40]:
# TASK-4

car=df[(df.year>=2013)&(df.year<=2015)]
car.groupby(by=['color','year'])['color'].count()

color      year
beige      2013      875
           2014      712
           2015      104
black      2013    19519
           2014    14253
           2015     1974
blue       2013     7297
           2014     5878
           2015      633
brown      2013     1429
           2014     1113
           2015      142
burgundy   2013     1262
           2014     1044
           2015      183
charcoal   2013       62
           2014      112
           2015       13
gold       2013      817
           2014      855
           2015       78
gray       2013    16312
           2014    11799
           2015     1430
green      2013     1232
           2014      777
           2015       87
lime       2013        7
           2014        1
off-white  2013      234
           2014      122
           2015       20
orange     2013      247
           2014      306
           2015       32
pink       2013       21
           2014        6
           2015        2
purple     2013      231
           2014      132
           2015       34
red        2013     8068
           2014     8469
           2015      779
silver     2013    14743
           2014    10248
           2015     1234
turquoise  2013       22
           2014       12
           2015        1
white      2013    19413
           2014    18593
           2015     2235
yellow     2013       75
           2014      158
           2015       29
—          2013     6156
           2014     6299
           2015      403
Name: color, dtype: int64

In [41]:
# TASK- 5

dat1=df[(df.saledate=="Fri Dec 19 2014 09:00:00 GMT-0800 (PST)")& (df.body=="SUV")]
ab=dat1['body'].count()
print("Sale of SUV on Fri Dec 19 2014 09:00:00 GMT-0800 (PST):",ab)

dat2=df[(df.saledate=="Thu Jan 15 2015 04:30:00 GMT-0800 (PST)")& (df.body=="SUV")]
ac=dat2['body'].count()
print("Sale of SUV on Thu Jan 15 2015 04:30:00 GMT-0800 (PST):",ac)

diff = (ab-ac)/ab*100
print("Sale with cars body SUV decreased by %f%% "%diff)

Sale of SUV on Fri Dec 19 2014 09:00:00 GMT-0800 (PST): 569
Sale of SUV on Thu Jan 15 2015 04:30:00 GMT-0800 (PST): 310
Sale with cars body SUV decreased by 45.518453%

In [67]:
df2=df.copy()     # Copying data from df to df2 for TASK 6

In [68]:
# TASK- 6
df2.insert(15, "Discounted_Price",np.nan)

In [83]:
a=df2[(df2.make=='Ford') | (df2.make=="Chevrolet")]
a['Discounted_Price']=a['sellingprice']*0.9
a

C:\Users\Manish\AppData\Local\Temp/ipykernel_17912/3669322482.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  a['Discounted_Price']=a['sellingprice']*0.9

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,Discounted_Price,saledate
7,2014,Chevrolet,Cruze,1LT,Sedan,automatic,1g1pc5sb2e7128460,ca,2.0,28617.0,black,black,enterprise vehicle exchange / tra / rental / t...,11900,9800,8820.0,Tue Dec 16 2014 13:00:00 GMT-0800 (PST)
9,2014,Chevrolet,Camaro,LT,Convertible,automatic,2g1fb3d37e9218789,ca,3.0,4809.0,red,black,d/m auto sales inc,26300,17500,15750.0,Tue Jan 20 2015 04:00:00 GMT-0800 (PST)
12,2015,Ford,Fusion,SE,Sedan,automatic,3fa6p0hdxfr145753,ca,2.0,5559.0,white,beige,enterprise vehicle exchange / tra / rental / t...,15350,12000,10800.0,Tue Jan 13 2015 12:00:00 GMT-0800 (PST)
14,2014,Chevrolet,Cruze,2LT,Sedan,automatic,1g1pe5sbxe7120097,ca,NaN,15686.0,blue,black,avis rac/san leandro,13900,10600,9540.0,Tue Dec 16 2014 12:00:00 GMT-0800 (PST)
18,2014,Chevrolet,Camaro,LS,Coupe,automatic,2g1fa1e39e9134494,ca,1.7,13441.0,black,black,wells fargo dealer services,17750,17000,15300.0,Tue Dec 30 2014 15:00:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558817,2012,Ford,Flex,SEL,Wagon,automatic,2fmhk6cc1cbd17905,ny,3.9,28320.0,red,black,"ford motor credit company,llc",21500,22300,20070.0,Wed Jul 08 2015 07:30:00 GMT-0700 (PDT)
558818,2013,Chevrolet,Silverado 1500,LT,crew cab,automatic,3gcpcse0xdg244430,tx,4.3,74575.0,black,black,stanley chevrolet buick gmc gatesville,22100,22000,19800.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558821,2012,Ford,Escape,XLT,SUV,automatic,1fmcu9d78ckc84074,fl,3.8,74673.0,white,gray,lehman buick gmc llc,11550,11400,10260.0,Tue Jul 07 2015 06:15:00 GMT-0700 (PDT)
558823,2012,Chevrolet,Silverado 1500,LT,Crew Cab,automatic,3gcpcse00cg289987,tx,3.7,37908.0,white,black,wells fargo dealer services,25000,23000,20700.0,Tue Jul 07 2015 06:00:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,3.4,15008.0,gray,gray,"ford motor credit company,llc pd",29600,26700,24030.0,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [60]:
df3=df.copy()     # coping data from df to df3 for TASK 7

In [61]:
# TASK- 7 

df3.drop(df3.columns[[6,15]],axis=1, inplace= True)
df3

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mmr,sellingprice
0,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,21500
1,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,21500
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,30000
3,2015,Volvo,S60,T5,Sedan,automatic,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,27750
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,67000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,in,4.5,18255.0,silver,black,avis corporation,35300,33000
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200,30800
558834,2012,BMW,X5,xDrive35d,SUV,automatic,ca,4.8,50561.0,black,black,financial services remarketing (lease),29800,34000
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,ga,3.8,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100,11100
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,ca,3.4,15008.0,gray,gray,"ford motor credit company,llc pd",29600,26700

In [58]:
#filling missing values
df3.fillna(0)
df3

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mmr,sellingprice
0,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,21500
1,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,21500
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,30000
3,2015,Volvo,S60,T5,Sedan,automatic,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,27750
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,67000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,in,4.5,18255.0,silver,black,avis corporation,35300,33000
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200,30800
558834,2012,BMW,X5,xDrive35d,SUV,automatic,ca,4.8,50561.0,black,black,financial services remarketing (lease),29800,34000
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,ga,3.8,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100,11100
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,ca,3.4,15008.0,gray,gray,"ford motor credit company,llc pd",29600,26700