In [2]:
#TASK - 1

n=input("Enter a number:")
factorial=1
if int(n)>=1:
    for i in range(1,int(n)+1):
        factorial=factorial*i
        print("Factorial of",n, "is",factorial)

Enter a number:2
Factorial of 2 is 1
Factorial of 2 is 2

In [18]:
#TASK - 2

numr=int(input("Enter range:"))
print("Prime numbers:",end='')
for n in range(1,numr):
    for i in range(2,n):
        if(n%i==0):
            break
            
    else:
                print(n,end =' ')

Enter range:20
Prime numbers:1 2 3 5 7 11 13 17 19

In [16]:
#TASK - 3

a=int(input('enter 5 digit no. : '))
sums=0
rem=0
num=a
while a > 0:
    rem=a%10
    sums=sums+rem
    a=a//10
    
print ('Sum of the number enter of ',num,' : ',sums)

enter 5 digit no. : 12345
Sum of the number enter of  12345  :  15

In [21]:
#TASK - 4

print("Fibonacci Series: :")
sum=1
n=7
i=1
temp=1
while n>0:
    print(sum, end=" ")
    sum=i+temp
    temp=i
    i=sum
    n=n-1

Fibonacci Series: :
1 2 3 5 8 13 21

In [22]:
#TASK - 5

t1=(1,2,3,4,5)
t2=(6,7,8,9,0)
print(id(t1))
print(id(t2))

2420572501232
2420572023840

In [23]:
t1=t1+t2
print(t1)
print(t2)
#There are changes in id because tuples are immutable so it stores t1 and t2 in different memory location
#and stores the combination of t1 and t2 in a new location

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)
(6, 7, 8, 9, 0)

In [24]:
#TASK - 6

m={10,20,30,40,50}
n={30,40,50,60,70}
m.update(n)
print(m)

{70, 40, 10, 50, 20, 60, 30}

In [28]:
#TASK - 7

port1={'FTP':1,'SSH':2,'telnet':3,'http':4}
for keys,values in port1.items():
    if values%2==0:
        print(keys,values)

SSH 2
http 4

In [30]:
#TASK - 8

d={}
for i in range(1,16):
    d[i]=i**2
    
print(d)
d[100]=10000
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 100: 10000}

In [32]:
#TASK - 9

port1={21:'FTP',22:'SSH',23:'telnet',80:'fttp'}
port2={}
for keys,values in port1.items():
    temp={values:keys}
    port2.update(temp)
    
print(port2)

{'FTP': 21, 'SSH': 22, 'telnet': 23, 'fttp': 80}

In [33]:
#TASK - 10

Employee = {
    'Emp1':{'name':'Sara','Dept':'IT', 'Designation': 'Team Lead'},
    'Emp2':{'name':'Anna','Dept':'IT', 'Designation': 'Senior Software Engineer'},
    'Emp3':{'name':'Andy','Dept':'Biotech','Designation':'Senior Software Engineer'},
    'Emp4':{'name':'Andy','Dept':'Biotech','Designation':'Senior Software Engineer'},    
           }
del Employee['Emp4']
print(Employee)

{'Emp1': {'name': 'Sara', 'Dept': 'IT', 'Designation': 'Team Lead'}, 'Emp2': {'name': 'Anna', 'Dept': 'IT', 'Designation': 'Senior Software Engineer'}, 'Emp3': {'name': 'Andy', 'Dept': 'Biotech', 'Designation': 'Senior Software Engineer'}}