In [60]:
rollno = 65
print (rollno)                 TASK 1 A
print (id(rollno))
print (type(rollno))

65
2138633228656
<class 'int'>

In [43]:
string = ("Rashmi")
print (string)
Rollno =(65)
print(Rollno)                  TASK 1 B

Rashmi
65

In [52]:
roll_no = 65
print(roll_no)
print (type(roll_no))          TASK 1 C

65
<class 'int'>

In [58]:
maxmarks = 50
print (maxmarks)
print (id(maxmarks))
print (type(maxmarks))          TASK 1 D

50
2138633039696
<class 'int'>

In [ ]:
var 1=2 #THIS CODE WILL GIVE ERROR BECAUSE HERE VARIABLE CoNTAINs THE SPACE. VARIABLE NAME SHOULD NOT CONTAIN ANY SPACE# TASK 2 A

In [14]:
2var = 2 #This code will give error because here variable contains the space and the variable should not START WITH ANY NUMERICAL VALUE # TASK 2 B

SyntaxError: invalid syntax (Temp/ipykernel_18352/2593071960.py, line 1)

In [16]:
Var 1 = 2 # THIS CODE WILL GIVE ERROR BECAUSE HERE VARIABLE CONTAINS THE SPACE. VARIABLE NAME SHOULD NOT CONTAIN SPACE# TASK 2 C

SyntaxError: invalid syntax (Temp/ipykernel_18352/1052648542.py, line 1)

In [18]:
VAR $2=2 #THIS CODE WILL GIVE ERROR BECAUSE HERE VARIABLE CONTAIN SPECIAL CHARACTER#    TASK 2 D

SyntaxError: invalid syntax (Temp/ipykernel_18352/957371410.py, line 1)

In [21]:
Class = 15 # NO OUTPUT CAME#              TASK 3 A

In [22]:
class = 15 # THIS CODE WILL GIVE ERROR BECAUSE HERE VARIABLE CONATINS SPACE VARIABLE NAME SHOULD NOT CONTAIN ANY SPACE#  TASK 3 B

SyntaxError: invalid syntax (Temp/ipykernel_18352/1850406401.py, line 1)

In [24]:
DEF = 13  # NO OUTPUT CAME#   TASK 3 C

In [25]:
def = 12 #THIS CODE WILL GIVE ERROR AS IT IS HAVING A SPACE AND VARIABLE NAME SHOULD NOT CONTAIN ANY SPACE#   TASK 3 D

SyntaxError: invalid syntax (Temp/ipykernel_18352/1759817278.py, line 1)

In [26]:
a=TRUE # THIS CODE WILL GIVE ERROR AS NAME ERROR IS THERE AND IT IS OT DEFINED AND SPACE IS NOT GIVEN#   TASK 3 E

NameError: name 'TRUE' is not defined

In [27]:
b=false # THIS CODE WILL GIVE ERROR AS NAME ERROR IS THERE AND IT IS OT DEFINED AND SPACE IS NOT GIVEN#  TASK 3 F

NameError: name 'false' is not defined

In [28]:
marks = 25.5
print (marks)
print (type(marks))          
print (id(marks))                          TASK 4 A

25.5
<class 'float'>
2138714989808

In [29]:
marks = 27.5
print (marks)                 
print (type(marks))                       TASK 4 B
print (id(marks))

27.5
<class 'float'>
2138714988880

In [ ]:
NO THE ID IS NOT SAME IN THE LAST TWO QUESTIONS BECAUSE THE UD CANNOT BE SAME FOR TWO OBJECTS  TASK 4 C

In [123]:
Percentage = (marks/maxmarks)*100
print ("Percentage = ", Percentage , "%")      TASK 5 A

Percentage =  55.00000000000001 %

In [66]:
fname = input ("Input your First Name : ")
lname = input ("Input your Last Name : ")
print ("Hello  " + lname + " " + fname)       TASK 5 B

Input your First Name : john
Input your Last Name : Doe
Hello  Doe john

In [125]:
string = ("Rashmi")
Rollno = (65)                                  TASK 5 C
print (type(rollno))
print (fname, "scored", Percentage)

<class 'int'>
john scored 55.00000000000001

In [ ]:
# Task 6 a and b dictionary questions not to be done

In [67]:
1 + "2"  #this code will give error because we cannot merge two different data types # Task 7 A

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [68]:
"1" + "2" #this code will give error since both are string the utput shows '12' #             TASK 7 B

'12'

In [69]:
1/2      #this code will give error because output 0.5, arithmetic operation                  TASK 7 C

0.5

In [70]:
1//2      #this code will give output 0 because it is floor division operation which only gives the integer part of the answer truncating the decimal                 TASK 7  D

0

In [71]:
True and True         #1 and 1 = 1      TASK 8 A

True

In [72]:
True and False       #1 and 0 = 0       TASK 8 B

False

In [73]:
False or True       #0 and 1 = 0        TASK 8 C

False

In [75]:
False or False      #0 and 0 = 0       TASK 8 D

False

In [1]:
fname="Rashmi"
fullname="Rashmi Upadhyay"
if(fname in fullname):
  print('true')                TASK 9 A
else:
  print('false')
#IF F NAME IS IN FULLNAME THEN EXPRESSION WILL BE SATISFIED

true

In [6]:
fname="Rashmi"
fullname="Rashmi Upadhyay"
if(fname is fullname):          TASK 9 B
  print('true')                    
else:
  print('false')
# IF F NAME IS SAME AS FULLNAME THEN EXPRESSION WILL BE SATISFIED

false

In [100]:
a=4
b=3 
c=2
d= a**b+c
e= a**(b+c)                       TASK 10
print ("Line 1 - value of d is ", d)
print ("Line 2 - value of e is ", e)
# Values of d  and e are different because we apply PEDMAS rule then according to this we get different ouput

Line 1 - value of d is  66
Line 2 - value of e is  1024

In [117]:
r=6
area=3.14*(r**2)                       TASK 11
print(area)

113.04

In [7]:
price=85                            
tax =0.18                             TASK 12
print('Tax amount:  ',price*tax)
print('Final price:',price*(price*tax))

Tax amount:   15.299999999999999
Final price: 1300.5

In [8]:
Doll = 3333/75
print("$",Doll)                       TASK 13

$ 44.44

In [10]:
Purchasingamount=500/1.07             TASK 14
print("Purchasing amount last year = $", Purchasingamount)

Purchasing amount last year = $ 467.2897196261682

In [ ]:
#SAVE THE FILE                        TASK 15